<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ site.title }}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="icon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <meta name="robots" content="noindex" />
  </head>

  <body>
    <section class="main">
      <header>
        <h1>Louis Caseley</h1>
        <a class="infolink" href="/info">Info</a>
      </header>

      <div class="mainbody home">
        {% for post in site.categories.projects %}
        <div class="projectitem">
          {% for images in post.images %}
          <img src="{{ post.images }}" />
          {% endfor %}
          <h2 class="projecttitle">
            {{ post.title }}, {{ post.media }}, {{ post.year }}
          </h2>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
